MMORPG/[Ll]ibrary/
MMORPG/[Tt]emp/
MMORPG/[Oo]bj/
MMORPG/[Bb]uild/
MMORPG/[Ll]ogs/
MMORPG/UserSettings/

MMORPG/.vs/
MMORPG/*.csproj
MMORPG/*.sln
MMORPG/*.unityproj
MMORPG/*.user
MMORPG/*.userprefs
MMORPG/*.pidb